
body{
    /* Falls back to sans-serif if Open sans is not available */
    font-family: 'Open sans', sans-serif;
    /* Added so the nav-bar does not overlap the content on the top of the site */
    padding-top: 110px;
    background-color: orange;
}

.navbar{
    padding: 0px 15px;
    transition: all 0.5s;
}

.navbar ul{
    padding-top: 15px;
}

.navbar-header{
    padding: 15px;
}

.navbar-header button {
    margin-top: 30px;
    padding: 0;
}

.cbp-af-header-shrink{
    opacity: 0.9;
    padding-top: 0px;
}

.home_content{
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 5px 5px 4px #777;
}

.home_content h4{
    font-size: 2em;
    margin-bottom: 20px;
    color: orange;
}

.home_content img {
    float: right;
}

.home_content:after{
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: #333;
    height: 100px;
}

.footer-content{
    color: #9d9d9d;
    padding: 30px;
    font-size: 1.2em;
}

.footer-content span:last-child{
    float: right;
}

@media(max-width:767px){

    .footer-content{
        font-size: 1em;
        padding: 30px 5px;
    }
}

#map{
    height: 100%;
}

